@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --color-white: #F2F3AE;
  --color-light: #D7AF70;
  --color-mid: #D2A660;
  --color-dark: #201A15;
  --color-brown: #493B32;
}

body {
  color: var(--color-light);
  background-color: var(--color-brown);
  font-family: 'Roboto Mono', monospace;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  background-image: url('./resources/background-image.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  padding-bottom: 0;
}

@media (max-width: 700px) {
  .recipe-summary {
    flex-direction: column;
    align-items: center;
  }

  .recipe-details-container {
    flex-direction: column;
  }

  .recipe-image {
    width: 100%;
    max-width: 300px;
  }
}